@model IEnumerable<BhokMandu.Models.Food>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<head>
    <link href="~/css/index.css" rel="stylesheet" />
</head>

<div class="search-container d-flex justify-content-center align-items-center">
    <form method="get" asp-action="Index" class="d-flex">
        <input type="text" name="searchQuery" value="@ViewData["searchQuery"]" placeholder="Search foods..." class="form-control" />
        <button type="submit" class="btn btn-primary">Search</button>
        <button type="button" class="btn btn-secondary" id="resetButton">Reset</button>
    </form>
</div>

<div class="foods-cards-section d-flex flex-wrap justify-content-center">
    @foreach (var food in Model)
    {
        <div class="card m-2" style="width: 18rem;">
            <img src="@food.ImagePath" class="card-img-top food-img" alt="@food.Name">
            <div class="card-body">
                <h5 class="card-title">@food.Name</h5>
                <p class="card-text">@food.Description</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: Rs. @food.Price</li>
                </ul>
                <div class="input-group mb-3">
                    <button type="button" class="btn btn-outline-secondary" onclick="decreaseQuantity(@food.Id)">-</button>
                    <input type="number" class="form-control item-value" id="quantity-@food.Id" value="0" min="1" />
                    <button type="button" class="btn btn-outline-secondary" onclick="increaseQuantity(@food.Id)">+</button>
                </div>
                <button type="button" class="btn btn-primary" onclick="addToCart('@food.Name', @food.Price, @food.Id)">Add To Cart</button>
            </div>
        </div>
    }
</div>

<div class="modal" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Item Added to Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="cartModalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/cart'">Go to Cart</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("resetButton").addEventListener("click", function () {
        window.location.href = "/";
    });
</script>

<script src="~/js/index.js"></script>
