@model IEnumerable<BhokMandu.Models.Food>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<head>
    <link href="~/css/index.css" rel="stylesheet" />
</head>

<div class="search-container d-flex justify-content-center align-items-center">
    <form method="get" asp-action="Index" class="d-flex">
        <input type="text" name="searchQuery" value="@ViewData["searchQuery"]" placeholder="Search foods..." class="form-control" />
        <button type="submit" class="btn btn-primary">Search</button>
        <button type="button" class="btn btn-secondary" id="resetButton">Reset</button>
    </form>
</div>

<div class="foods-cards-section d-flex flex-wrap justify-content-center">
    @foreach (var food in Model)
    {
        <div class="card m-2" style="width: 18rem;">
            <img src="@food.ImagePath" class="card-img-top food-img" alt="@food.Name">
            <div class="card-body">
                <h5 class="card-title">@food.Name</h5>
                <p class="card-text">@food.Description</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: Rs. @food.Price</li>
                </ul>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" id="quantity-@food.Id" value="0" min="1" />
                    <button type="button" class="btn btn-primary" onclick="addToCart('@food.Name', @food.Price, @food.Id)">Add To Cart</button>
                </div>
            </div>
        </div>
    }
</div>

<script>
    document.getElementById("resetButton").addEventListener("click", function() {
        window.location.href = "/";
    });
</script>

<script src="~/js/index.js"></script>
